body{background:#ecf0f1 !important;}

.containercustom{background: #fff;padding: 30px; border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px; box-shadow:0 6px 12px rgba(0,0,0,.05); -webkit-box-shadow:0 6px 12px rgba(0,0,0,.05); -moz-box-shadow:0 6px 12px rgba(0,0,0,.05); margin-top:-50px ;}

